@charset "utf-8";
/* CSS Document */
.topic_07_box{width: 1000px;margin-top:30px; margin-bottom: 20px}
.tp_07_left{float: left;width:700px;margin-bottom: 20px}
.tp_07_right{float:right;width:286px;margin-bottom: 20px}
/*面包屑begin*/
.crumbs{ left:0px; width: 700px; text-align:left; padding-bottom:10px; }
.crumbs img{float:left; margin-top:5px; margin-right:5px;}
.crumbs .crumbs_arrow{ color:#999999; font-size:14px;}
.crumbs a{ font-size:14px; color:#999; }
/*面包屑over*/
/*手风琴*/
#box{width:700px;height:274px;overflow:hidden;position:relative;}
#ul1{width:700px;height:274px;}
#ul1 li{width:50px;height:274px;overflow:hidden;float:left;}
/*手风琴 end*/
.topic_07_box .tp_07_left .tp_01_one{position:relative;width:700px; height:274px;margin-bottom:10px;}
.topic_07_box .tp_07_left .tp_01_two{width:700px; padding-top:15px; border-top:1px solid #ddd; overflow: hidden; border-bottom:1px solid #ddd;}
.topic_07_box .tp_07_left .tp_01_two h2{width:700px;height:20px;line-height: 20px;  padding-left: 10px; text-align:left;font-size: 16px; color: #747f8c; border-left:5px solid #51aded;}
.topic_07_box .tp_07_left .tp_01_two .tp1_two_main{width:225px; height:153px; float: left; margin:15px 4px; box-shadow:1px 1px 3px #c6cacc}
.topic_07_box .tp_07_left .tp_01_thr{width:700px; padding-top:15px;  overflow: hidden; }
.topic_07_box .tp_07_left .tp_01_thr h2{width:700px;height:20px; margin-bottom: 15px; line-height: 20px;  padding-left: 10px; text-align:left;font-size: 16px; color: #747f8c; border-left:5px solid #51aded;}

.topic{ float:left; width: 225px; height: auto; box-shadow:3px 3px 5px #c6cacc ; overflow: hidden; margin-bottom: 10px; }
.topic .topic_img{ width: 225px; height: auto; overflow:hidden;}
.topic_title1{ width: 180px; border-bottom:1px #d2d2d2 dashed; overflow: hidden; margin-bottom: 7px;padding-bottom:5px;}
.topic_title{ font-size: 12px; color: #344353; font-family: "宋体"; margin-top: 10px;display: inline-block;}
.topic_bor{ display: inline-block; float: right;}
.topic_zan{ color: #666; font-size: 12px; margin-left: 4px; margin-right: 8px; }
.topic_zan:hover{color: #1d71b6;}
.topic .mr_10{ margin-right: 10px; margin-bottom: 7px;}
.topic_left{width: 225px; height: auto; float:left; margin-right: 7px;}
.topic_load{ width: 700px;background: #e0e3e6; height: 40px; line-height: 40px;}
.topic_load a{ color: #1d71b6; }
/*左侧上部结束*/

/*右侧 begin*/
.tp_07_right a{width:auto; display: block; color: #fff;}
.tp_07_right .tp_07_onel{background-color:#ea544a; float:left;}
.tp_07_right .tp_07_oner{background-color:#005fad;float:right; }
.tp_07_right .twosf{height:130px; width:286px;position:relative;border: 1px solid #ddd;margin-top:20px; overflow: hidden;}
.tp_07_right .twosf h1{font-size:16px;font-weight: bold; color:#344353; text-align:left; margin-left:160px; line-height: 30px; margin-top: 30px;}
.tp_07_right .twosf img{float: left;}
.tp_07_right .twosf .onr_rr{position:absolute;right:34px; top:70px;}
.tp_07_right .twosf .onr_rr a{color: #81c6ea;  display:inline;}
.tp_07_right .twosf .onr_rr p{float:left; margin-left: 5px; font-weight:bold;font-size: 18px; color: #81c6ea;}
.tp_07_right .twosf .onr_rr p span{font-weight:bold;font-size: 14px; color: #81c6ea;}
.tp_07_right .twosf .onr_rr .rrtb{width:1px; height:33px; background-color:#ccc; margin-top:10px;}
.tp_07_right .tp_07_two{border: 1px solid #ddd; margin-top:20px; overflow: hidden;}
.tp_07_right .tp_07_two .twobt{height:40px; width:286px;border-bottom:1px solid #51aded;}
.tp_07_right .tp_07_two .bt{width:140px; height:40px; float:left; line-height:40px;font-weight:bold; background-color:#51aded; color:#fff;font-size:16px;}
.tp_07_right .tp_07_two .twomain{width: 286px; position:relative; margin:20px auto;}
.tp_07_right .tp_07_two .twomain h2.main_act a{color:#1d71b6;}
.tp_07_right .tp_07_two .twomain a{ color:#777; display:inline;}

.tp_07_right .tp_07_two .twomain h2{ color:#344353; font-size:14px;text-align: left; margin-left: 20px;}
.tp_07_right .tp_07_two .twomain h2 a{color:#344353;}
.tp_07_right .tp_07_two .twomain h2 a:hover{color:#1d71b6;}
.tp_07_right .tp_07_two .twomain p{color:#777; margin-left: 20px;font-family:"宋体"; margin-top: 7px; font-size:12px;text-align: left; display: block; }
.tp_07_right .tp_07_two .twomain p em{font-style: normal;cursor:pointer; }
.tp_07_right .tp_07_two .twomain p em:hover{color:#3698dc;}
.tp_07_right .tp_07_two .twomain .dhk{position: absolute; right: 20px;top:7px;width:36px; height: 32px;line-height: 28px; color:#fff;font-size:12px; background:url(../imgs/msg_icon01.png) top left no-repeat; }

.mb{ width:685px;border-left:5px solid #51aded; height: 20px; margin-bottom: 10px; color: #747f8c; text-align: left}

.mf { width: 100%; height: 150px;}
.mf .mf_1{ width: 224px; height: 100%; float: left;}
.mf .mf_1:nth-child(2){  margin: 0px 9px}
.mf .mf_2{ width: 224px; height: 100%; float: left;}
.mf .mf_a{ position: relative; overflow: hidden;}
.mf .mf_a .mf_bg{ cursor: pointer;  width: 100%; height: 100%;position: absolute;z-index: 100; background: #000;opacity: 0.5 ;filter:alpha(opacity=50);left: 0px;top:110px;}
.mf .mf_a .mf_bg p{ color: #fff}
.mf .mf_a .mf_bg p.p1{ font-size: 0.9em; font-weight: 600;margin-top: 10px}
.mf .mf_a .mf_bg p.p2{ font-size: 0.8em; margin-top: 3px}

.pubuliu{ width:100%;  height:1000px; }