*{ margin:0 auto;}
html { -webkit-text-size-adjust:none; }
body{margin:0; padding:0; font-family:"微软雅黑"; text-align:center;}
ul,ul li{ margin:0; padding:0; list-style-type:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
a{text-decoration:none;}
img{border: 0; display: block;}
/*弹出框公共样式开始*/
.eject{width: 390px;height: 430px;border:1px solid #cdcdcd;box-shadow:3px 3px 5px #f3f3f3;font-family: "微软雅黑";font-weight:bold;color:#7f7f7f;}
.eject>h3{position:relative;height:45px;line-height:45px;padding-left:70px;text-align:left;font-size:16px;border-bottom:1px solid #f2f2f2;background:url(../imgs/login.jpg) 30px 9px #f7f7f7 no-repeat;}
.eject>h3 span{position:absolute;right:16px;top:16px;}
/*弹出框公共样式结束*/
.login_box form{width: 310px;margin-top:10px;text-align:left;font-size:14px;}
.login_label{width:50px;margin-right:15px;}
.login_box form input{width: 245px;height: 40px;margin-top:20px;border:1px solid #cdcdcd;}
.login_short{width: 100px !important;}
.login_right{position:relative;height:30px;line-height:30px;margin-top:10px;font-weight:normal;}
.login_right *{vertical-align:middle;}
.login_check{width:20px !important;height: 20px !important;margin-top:0px !important;}
.login_right span{display:inline-block;position:absolute;right:10px;}
.login_right span a{color:#3f89ec;}
.login_but{width: 310px;height: 50px;margin:10px 0;line-height:50px;font-size:16px;color:#fff;text-align:center;border-radius:5px;display:block;background:#3f89ec;}
/*登录框样式结束*/
